.parent {
  position: relative; /* braucht es für die Footer Position*/
  margin: 0 auto; /* Zentriert die Seite (nicht in IE5) */

  // height: auto !important; /* normale Browser */
  height: 100vh; /* IE6: setzt dies wie min-height um*/
  min-height: 100%; /* normale Browser */
  // overflow-x: hidden;
  overflow-y: hidden !important;
}

.content {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 35px;
}

.routesContainer {
  height: 100%;
}
