$status-bar-color: #2c3e50;
$status-bar-hover: #435f7a;

.core-component-formentry-textrow {
  background-color: red;
}
.status-bar {
  flex: auto 0 0;
  position: absolute;
  z-index: 20;
  background-color: $status-bar-color;
  color: white;
  bottom: 0px;
  width: 100%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.status-bar-content {
  height: 28px !important;
  font-size: 12px;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  flex: auto 1 1;
}
.section {
  align-items: center;
  padding: 0 8px;
  height: 100%;
  cursor: default;
  display: flex;
  flex-direction: row;
}
.text {
  margin-left: 6px;
}
.last-log {
  flex: 100% 1 1;
}

.last-log:hover {
  background-color: $status-bar-hover;
  cursor: pointer;
}

.logger {
  height: 174px;
  background-color: white;
  color: $status-bar-color;
  overflow-y: hidden;
  flex: auto 0 0;
  padding-bottom: 60px;
}

.logger-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 6px 6px 16px;
}
.title {
  flex: 100% 1 1;
  width: 0;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}
.icon {
  display: flex;
  flex-direction: row;
  vertical-align: bottom;
  margin-right: 0px;
  height: 32px;
  width: 32px;
  align-items: center;
  border-radius: 0.15rem;
}
.icon-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.action:hover {
  cursor: pointer;
  background-color: #ffccbc;
}
.logger-content {
  padding: 0 16px;
  overflow-x: hidden;
  overflow-y: auto !important;
  height: 100%;
  padding: 0 16px;

  .empty {
    color: rgba(44, 62, 80, 0.5);
    padding: 24px;
    text-align: center;
    box-sizing: border-box;
  }
  .logger-message {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    padding: 2px 4px;
    .message {
      flex: 100% 1 1;
      width: 0;
      overflow: hidden;
      margin-left: 12px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .date {
      opacity: 0.5;
      flex: auto 0 0;
    }
    .logger-icon {
      color: #ff8f00;
    }
  }
}
.status-bar-text {
  margin-top: 15px;
}

.spinner {
  $s: 12px;
  $c: #ecf0f1;
  $t: 1s;
  margin-right: 6px;
  width: $s;
  height: $s;
  border: $s/10 solid $c;
  border-radius: 1000px;
  border-color: transparent $c;

  animation: rot $t linear infinite;

  &:after,
  &:before {
    content: "";

    position: absolute;
    width: $s/4;
    height: $s/4;
    border: $s/10 solid $c;
  }
  &:after {
    top: 0;
    right: 0;

    border-color: $c transparent transparent $c;
    transform: translateX(50%) translateY(5%);
  }
  &:before {
    bottom: 0;
    left: 0;

    border-color: transparent $c $c transparent;
    transform: translateX(-50%) translateY(-5%);
  }
}

@keyframes rot {
  to {
    transform: rotate(-360deg);
  }
}
