@import "../../assets/css/bootstrapOverride.scss";
.fixedbottom {
  // position: -webkit-sticky;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: $kajona-gray;
  min-height: 30px;
  padding-left: 5px;
  padding-right: 15px;
  z-index: 999;
  border: 0;

  border-top: 1px solid $kajona-brand-color;
}
.navbar-bottombar {
  display: flex;
  padding-left: 10px;
  width: 100%;
  text-align: right;
}
.action {
  cursor: pointer;
}
