.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.logFilesContainer {
  display: flex;
  height: 100%;
  cursor: pointer;
  i {
    font-size: 3rem;
  }
}

.wrapper {
  height: 100%;
  display: flex;
}
