// @import "~font-awesome/scss/font-awesome";
#bg {
  // background-image: url("../../assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  filter: blur(20px);
  -webkit-filter: blur(20px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.fixed-top {
  background: #e5e5e5;
  background-image: url("../../assets/img/logo_small.png"),
    url("../../assets/img/navbar-inner-background.png");
  background-position: right 15px center, 300px 0;
  background-repeat: no-repeat, no-repeat;
  background-size: auto 50px, auto auto;
  min-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  filter: none;
  border: 0;
}
.modal-backdrop {
  z-index: 1035 !important;
}
body {
  // margin-bottom: 60px !important;
}
