$brand-primary: darken(#428bca, 6.5%); // #337ab7
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
.label-as-badge {
  float: right;
  border-radius: 1em;
  font-size: 100%;
  color: white;
}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;

  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
.label-success {
  background-color: $brand-success;
}

.label-danger {
  background-color: $brand-danger;
}
