@import url("https://fonts.googleapis.com/css?family=Roboto");

.card {
  -webkit-box-shadow: 0px 2px 19px -11px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 19px -11px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 2px 19px -11px rgba(0, 0, 0, 0.42);
  // max-width: 20%;
  max-height: 100%;
  min-height: 100px;
  margin: 1rem;
  cursor: pointer;
}
.card:hover {
  -webkit-box-shadow: 0px 2px 19px -9px rgba(239, 108, 0, 0.64);
  -moz-box-shadow: 0px 2px 19px -9px rgba(239, 108, 0, 0.64);
  box-shadow: 0px 2px 19px -9px rgba(239, 108, 0, 0.64);
}
