$gray: #b0bec5;
.wrapper {
  height: calc(100% - 5vh);
}
#sidebar {
  width: 20%;
  height: 100%;
  background-color: $gray;
  transform: translate(-30px);
  padding: 0.5rem;
}

li .sideBarAction {
  padding: 10px;
  margin: 0;
  display: block;

  margin: 0;
}
