$gray: #b0bec5;

#sidebar {
  width: fit-content;
  height: 100%;
  background-color: white;
  transform: translate(-30px);

  -webkit-box-shadow: 5px 5px 5px -5px rgba(140, 140, 140, 1);
  -moz-box-shadow: 5px 5px 5px -5px rgba(140, 140, 140, 1);
  box-shadow: 2px 2px 5px -5px rgba(140, 140, 140, 1);
}
.labels {
  color: #90a4ae;
  font-size: 12px;
}
label {
  padding: 20px;
}
li .sideBarActionWithLabels {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  width: 100%;

  cursor: pointer;
}

li .sideBarActionWithLabels > span {
  padding: 20px;
}

.sideBarActionWithLabels:hover {
  // width: 100%;
  background-color: #f57c00;
  color: white;
  transition: background-color 0.5s;
}
.sideBarActionWithout {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  width: 100%;
  cursor: pointer;
}
.sideBarActionWithout > span {
  padding: 20px;
  i {
    font-size: 20px;
  }
}
.sideBarActionWithout:hover {
  background-color: #f57c00;
  color: white;
  transition: background-color 0.5s;
}
