#dbTablesContainer {
  height: 100%;

  .dbTable {
    padding: 0.1em;
    cursor: pointer;
  }
  .dbTable:hover {
    background-color: black;
    color: white;
  }
}
.dbBrowserTable {
  width: 100%;
}
i {
  cursor: pointer;
}
.fa-sync-alt {
  margin-left: 5px;
}
.empty-handle {
  left: 40%;
}
.heightClass {
  height: 100%;
}
#sidebar {
  overflow-y: auto;
  overflow-x: hidden;
}
